#content {
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
}

#greeting-container {
        margin-top: 20px;
	font-family:"Courier New", Courier, monospace;
	font-size: 30px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	text-align: center;
}

h1 {
	color: white;
	text-align: center;
	font-family:"Courier New", Courier, monospace;
	font-size: 60px;
}

p {
	color: white;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
}

img {
	display: block;
  	margin-left: auto;
	margin-right: auto;
}

ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #51667b;
}

li {
	float: left;
}

li a { 
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
}

li a:hover {
	background-color: #32404d;
}

.col {
	flex: 50%;
	padding: 10px;
}

.row {
	display: flex;
}

.button {
	background-color: #51667b;
	padding: 10px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 14px;
	color: white;
	font-family: "Courier New", Courier, monospace;
	margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
}

.button:hover {
	background-color: #32404d;
}

.buttonA {
	padding: 7px 7px;
	border-radius: 2px;	
}

